.container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.com-logo{
    width:6rem;
    height:6rem;
    margin-top: 2rem;
}
.com-img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 599px) {
    .rowss{
        margin-top: 3rem;
        margin-bottom: 3rem;
      
        
    }   
    .coum{
        width: 50% !important;
    }
    .column{
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
}
@media screen and (max-width: 1019px) {
    .rowss{
        margin-top: 4rem;
        margin-bottom: 4rem;
        
    }   
}